@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Play, sans-serif;
  background: #000;
  -webkit-font-smoothing: antialiased;
}

.App {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0px auto;
  text-align: center;
  background: #000;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  
  }


.App form {
  border: 2px solid yellow;
  width: 400px;
  margin-left: 0px;

}

.Planeta {
  width: 100%;
  border-bottom: 2px solid yellow;
}

.App form ul {
  list-style: none;
}

.App form ul li{
  padding: 20px 20px;

}
 
.button{
  width: 200px;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: 0.2s;
}

.button:hover {
  filter: brightness(70%)
}
